.slider__wrapper {
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.top {
  display: flex;
  margin: 117px 65px 36px 65px;
  align-items: center;
}

.btns {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  margin: auto 0 0 auto;
  justify-content: flex-end;
}
.slider__btns {
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition: transform 0.3s ease-in-out;
  box-sizing: content-box;
  transition: 0.3s;
}

.slide {
  opacity: 0.5;
  border-radius: 15px 15px 0 0;
  width: 100%;
  position: relative;
  transition: 0.3s;
  display: block;
}
.slide img {
  position: relative;
  width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(20, 20, 18, 0.5) 0px -1px;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 24px 99px 42px 24px;
}

.title {
  font-family: 'Evolventa';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #222527;
  margin-bottom: 12px;
}

.text {
  font-family: 'Evolventa';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #222527;
}

.slide.nextSlide {
  width: 100%;
  position: relative;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
  transform: rotate3d(200, 0, 60, 1.5deg) translate3d(0, 0, -380px);
}
.slide.nextSlide.info {
  display: none;
  background-color: #fff;
}
.slide.prevSlide {
  width: 100%;
  position: relative;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
  transform: rotate3d(-200, 0, 60, -1.5deg) translate3d(0, 0, -380px);
}
.slide.prevSlide h2 {
  display: none;
}
.slide.prevSlide p {
  display: none;
}
.slide.activeSlide {
  opacity: 1;
  transition: 0.3s;
  width: 100%;
  position: relative;
  background-color: #e9f0f5;
  cursor: pointer;
  z-index: 3;
  transform: translateZ(200px);
  margin: 0 30px;
}
.prevSlide.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
.nextSlide.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
.slide h2 {
  display: none;
}
.slide p {
  display: none;
}

.activeSlide.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
.activeSlide p {
  display: table;
}
.activeSlide h2 {
  display: table;
}

@media screen and (max-width: 768px) {
  .top {
    flex-wrap: wrap;
  }
  .btns {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
}
